In [5]:
import pandas
import numpy as np

%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn import metrics
from matplotlib import pyplot as plt

In [6]:
#Load Dataset
df = pandas.read_csv("PSE_Stocks.csv")

print(df.head())

NameError: name 'pandas' is not defined

In [6]:
print(df.shape)

(481920, 9)

In [7]:
#Data Processing
df = df.drop(columns=['Open', 'High', 'Low', 'Volume', 'Change%'],axis = 1)

print(df.head())

                        Stock Name Code       Date   Price
0  Abra Mining and Industrial Corp   AR   3-Mar-21  0.0046
1  Abra Mining and Industrial Corp   AR   2-Mar-21  0.0054
2  Abra Mining and Industrial Corp   AR   1-Mar-21  0.0036
3  Abra Mining and Industrial Corp   AR  26-Feb-21  0.0034
4  Abra Mining and Industrial Corp   AR  24-Feb-21  0.0034

In [14]:
#Checking Duplicates
df.duplicated().sum().any()

False

In [16]:
#Checking for Null Values
#If there are any, they will be returned as True or False
df.isnull().values.any()

False

In [8]:
#Check & Review DataFrame Info
print(df.info)

<bound method DataFrame.info of                              Stock Name   Code       Date   Price
0       Abra Mining and Industrial Corp     AR   3-Mar-21  0.0046
1       Abra Mining and Industrial Corp     AR   2-Mar-21  0.0054
2       Abra Mining and Industrial Corp     AR   1-Mar-21  0.0036
3       Abra Mining and Industrial Corp     AR  26-Feb-21  0.0034
4       Abra Mining and Industrial Corp     AR  24-Feb-21  0.0034
...                                 ...    ...        ...     ...
481915                Ayala Corp Pref B  ACPB2  14-Nov-14     503
481916                Ayala Corp Pref B  ACPB2  12-Nov-14     508
481917                Ayala Corp Pref B  ACPB2  11-Nov-14     514
481918                Ayala Corp Pref B  ACPB2  10-Nov-14     509
481919                Ayala Corp Pref B  ACPB2   7-Nov-14     511

[481920 rows x 4 columns]>

In [18]:
#Descriptive Overview of Data Statistics
df.describe()

                               Stock Name    Code       Date       Price
count                              481920  481920     481920  481920.000
unique                                301     303       2263   30605.000
top     Phoenix Petroleum Philippines Inc     MER  19-Jan-18       0.012
freq                                 2510    2259        282    1682.000

In [ ]:
#Correlation of Variables
print(df.corr())

In [ ]:
#Heatmap of Variables
plt.figure(figsize=(16,8))

sns.heatmap(df.corr(), cmap="Blues", annot=True)
plt.show()

In [ ]:
#Show Visualization of Variables
sns.pairplot(df)

In [2]:
df['Open'].hist()
plt.show()

NameError: name 'df' is not defined

In [ ]:
df['High'].hist()

In [ ]:
df['Low'].hist()

In [ ]:
df['Volume'].hist()

In [ ]:
df['Change%'].hist()

In [ ]:
#Review Box Plots
f, axes = plt.subplots(1,4)
sns.boxplot( y='Open', data=df, ax=axes[0])
sns.boxplot( y='High', data=df, ax=axes[1])
sns.boxplot( y='Low', data=df, ax=axes[2])
sns.boxplot( y='Volume', data=df, ax=axes[3])
sns.boxplot( y='Change%', data=df, ax=axes[4])

In [ ]:
import plotly.graph_object as go

figure = go.Figure(data[go.Candlestick(x=df["Date"],
                                       open=df["Open"], high=df["High"],
                                       low=df["Low"], volume=["Volume"])])
figure.update_layout(title = "PSE Stock Price Analysis", xaxis_rangeslider_visible=False)
figure.show()